<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <ul>
            {{ range .Site.Menus.footer }}
            <li><a href="{{ .URL }}">{{ .Name }}</a></li>
            {{ end }}
          </ul>
        </div>
        <p><b>BAMRU is a 501(c)(3) non-profit organization (Federal ID 23-7098709), contributions to which are tax deductible to the extent permitted by law.</b></p>        
        <p>Copyright &copy; 2020 Bay Area Mountain Rescue. Design by Themefisher.</p>
      </div>
    </div>
  </div>
</footer>
