{{ partial "global-header.html" . }}

{{ if .Site.Data.meet.enable }}
<!-- Service Start -->
<section id="meet">
  <div class="container">

    <!-- Intro -->

    <div class="row">
      <div class="section-title">
        <h2>{{ .Site.Data.meet.title }}</h2>
        <p>{{ .Site.Data.meet.subtitle }}</p>
      </div>
    </div>

    <!-- Content -->
    <div class="row">
      {{ range .Site.Data.meet.content }}
      <div class="col-sm-6 col-md-6">
        <div class="meet-item">
          <i class="{{ .icon }}"></i>
          <h4>{{ .name }}</h4>
          <p>{{ .text }}</p>
          {{ if .image }}
            <img class="img-responsive" src="{{ $.Site.BaseURL }}{{ .image }}" />
          {{ end }}
          {{ if .iframe }}
            <div class="embed-responsive embed-responsive-4by3">
              <iframe class="embed-responsive-item" src="{{ .iframe }}"></iframe>
            </div>
          {{ end }}
        </div>  
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
